/* Reset default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F7F9FC;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #2196F3;
}

.btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1976D2;
}

/* Login/Register page */
.login-container, .register-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="password"] {
    width: 100%;
}

/* Dashboard */
.dashboard-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.transactions-form input, .transactions-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.transactions table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.transactions th, .transactions td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.transactions th {
    background-color: #2196F3;
    color: white;
}

#add_a_transaction {
    padding: 10px;
}
